[package]
name = "typed-example"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["cdylib"]

[dependencies]
serde = { version = "1.0.228", features = ["derive"] }
typed = { path = ".." }
wasm-minimal-protocol = "0.1.0"